.about-us{
    display: grid;
    grid-row: 3/4;
    grid-template-columns:  30% 40% 30%;
    justify-content: center;
    @media (max-width: 57em){
        grid-template-columns: 100vw;
      }

   
}


