
*,
*::after,
*::before{
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}


html{
    font-size: 62.5%;
    color: $color-Dark-Gray;
    font-weight: 500;
    font-family: $font-family;
    
   
}

body{
   font-size: 1.2rem;

}



